@import '@styles/global';

.input {
    background-color: transparent;
    padding: $spacer-xs $spacer-md;
    font-size: $fs-xs;
    color: $white;
    white-space: nowrap;
    border: 1px solid $dark-gray;
    width: 100%;

    @media (max-width: $lg) {
        padding: $spacer-xs $spacer-sm;
    }

    @media (max-width: $sm) {
        padding: $spacer-xxs $spacer-sm;
        font-size: $fs-xxs;
    }

    @media (max-width: $xs) {
        padding: $spacer-xxs $spacer-xs;
        font-size: $fs-xxxs;
    }
}
