@import '@styles/global';

.wrap {
    @include flex-column-start;
}

.error {
    height: $spacer-sm;
    color: $red;
    font-size: $fs-xs;

    @media (max-width: $lg) {
        font-size: $fs-xxs;
    }

    @media (max-width: $xs) {
        font-size: $fs-xxxs;
        height: $spacer-xs;
    }
}

.input {
    background-color: transparent;
    padding: $spacer-xs;
    font-size: $fs-xs;
    color: $white;
    white-space: nowrap;
    border: 1px solid $dark-gray;
    width: 100%;

    @media (max-width: $lg) {
        padding: $spacer-xs $spacer-sm;
    }

    @media (max-width: $sm) {
        padding: $spacer-xxs $spacer-sm;
        font-size: $fs-xxs;
    }

    @media (max-width: $xs) {
        padding: $spacer-xxs $spacer-xs;
        font-size: $fs-xxxs;
    }
}
