@import '@styles/global.scss';

.head {
    @include flex-column-center;

    width: 100%;
    text-align: center;
    margin-top: $spacer-xxxl;
    margin-bottom: $spacer-xl;

    @media (max-width: $sm) {
        margin-top: $spacer-xxl;
        margin-bottom: $spacer-lg;
    }

    @media (max-width: $xs) {
        margin-top: $spacer-xl;
        margin-bottom: $spacer-md;
    }
}

.caption {
    @extend %title-16;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    margin-bottom: $spacer-xxxs;
}

.title {
    @extend %title-48;

    margin-bottom: $spacer-xs;
}

.subtitle {
    @extend %title-16;

    color: $gray;
    margin-bottom: 0;
}
