@import '@styles/global';

.container {
    @include flex-column-start;

    padding: $spacer-md;
    border: 1px solid $light-gray;
    max-width: 300px;
    width: 100%;
    cursor: pointer;

    &:hover {
        background: $light-gray;
    }

    @media (max-width: $sm) {
        @include flex-column-center;
        text-align: center;
    }
}

.iconWrap {
    @include flex-row-center;
    background: $beige;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: $spacer-xs;
}

.title {
    font-size: $fs-md;
    font-weight: 700;
    margin-bottom: $spacer-xxxs;

    @media (max-width: $md) {
        font-size: $fs-xs;
    }
}

.subtitle {
    font-size: $fs-xxs;
    line-height: 28px;

    @media (max-width: $md) {
        font-size: $fs-xxxs;
        line-height: 20px;
    }
}

.active {
    background: $yellow;
    border: 0;
}

.container.miniCard {
    @include flex-row-start;
    flex-direction: row;
    padding: $spacer-sm;

    .iconWrap {
        margin-bottom: 0;
        margin-right: $spacer-xs;
    }
}

.container.blogPost {
    padding: 0;
    border: 0;
    cursor: default;
    background: $white;
    margin-bottom: $spacer-xl;
    margin-top: $spacer-md;

    &:hover {
        background: $white;
    }

    @media (max-width: $sm) {
        @include flex-row-center;

        margin-bottom: $spacer-lg;
        margin-top: $spacer-sm;

        .iconWrap {
            width: 32px;
            height: 32px;
            background: $white;
        }

        .title {
            font-size: $fs-xxs;
        }
    }
}
