@import '@styles/global.scss';

.mapContainer {
    width: 100%;
    height: 400px;

    @media (max-width: $sm) {
        height: 300px;
    }

    @media (max-width: $xs) {
        height: 200px;
    }
}
