// границы
$min-w: 375px;
$max-w: 1280px;

// отступы
$spacer-base: 32px;

$spacer-xxxs: 0.125 * $spacer-base;
$spacer-xxs: 0.25 * $spacer-base;
$spacer-xs: 0.5 * $spacer-base;
$spacer-sm: 0.75 * $spacer-base;
$spacer-md: $spacer-base;
$spacer-lg: 1.5 * $spacer-base;
$spacer-xl: 2 * $spacer-base;
$spacer-xxl: 3 * $spacer-base;
$spacer-xxxl: 4 * $spacer-base;

// шрифты
$fs-xxxs: 12px;
$fs-xxs: 16px;
$fs-xs: 20px;
$fs-sm: 24px;
$fs-md: 28px;
$fs-lg: 32px;
$fs-xl: 36px;
$fs-xxl: 48px;
$fs-xxxl: 56px;

// высота строк
$lh-xxxs: 12px;
$lh-xxs: 16px;
$lh-xs: 20px;
$lh-sm: 24px;
$lh-md: 28px;
$lh-lg: 32px;
$lh-xl: 40px;
$lh-xxl: 48px;
$lh-xxxl: 64px;

// цвета
$gray: #6d6e76;
$light-gray: #f4f4f4;
$light-pink: #f4f0f8;
$dark-gray: #4c4c4c;
$beige: #fbf6ea;
$white: #fff;
$black: #000;
$yellow: #ffd050;
$light-blue-gray: #2e303f;
$dark-blue-gray: #232536;
$purple: #592ea9;
$red: #c41818;

// breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
