@import '@styles/global';

.card {
    @include flex-row-center;

    padding: $spacer-md;
    cursor: pointer;
    width: 100%;

    &:hover {
        background: $light-gray;
    }

    @media (max-width: $md) {
        &:hover {
            background: $beige;
        }
        padding: $spacer-sm;
    }

    @media (max-width: $xs) {
        padding: $spacer-xs;
    }
}

.card.featurePost {
    padding: 0;
    cursor: default;

    &:hover {
        background: transparent;
    }
}

.image {
    max-width: 100%;
    height: auto;

    margin-right: $spacer-md;
}

.active {
    background: $beige;
}

.info {
    @include flex-column-start;
}

.excerpt {
    font-size: $fs-xxs - 2px;
    margin-bottom: $spacer-xs;
    line-height: 20px;

    @media (max-width: $md) {
        font-size: $fs-xxxs;
        margin-bottom: $spacer-xxs;
        line-height: 16px;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxxs -2px;
        margin-bottom: $spacer-xxxs;
        line-height: 12px;
    }
}

.title {
    font-size: $fs-sm;
    margin-bottom: $spacer-xs;
    font-weight: 700;
    line-height: 32px;

    @media (max-width: $md) {
        font-size: $fs-xs;
        margin-bottom: $spacer-xxs;
        line-height: 24px;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxs;
        margin-bottom: $spacer-xxxs;
        line-height: 20px;
    }
}

.subtitle {
    font-size: $fs-xxs;
    margin-bottom: $spacer-md;
    color: $gray;
    line-height: 28px;

    @media (max-width: $md) {
        font-size: $fs-xxxs;
        margin-bottom: $spacer-sm;
        line-height: 20px;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxxs -2px;
        margin-bottom: $spacer-xs;
        line-height: 16px;
    }
}

.card.vertical {
    @include flex-column-center;

    .title {
        font-size: $fs-md;

        @media (max-width: $md) {
            font-size: $fs-sm;
        }
        @media (max-width: $xs) {
            font-size: $fs-xs;
        }
    }

    img {
        margin-bottom: $spacer-md;
        margin-right: 0;
    }

    @media (max-width: $xs) {
        img {
            margin-bottom: $spacer-xs;
        }
    }
}

.card.blog {
    .image {
        max-width: 490px;
        width: 100%;
        height: auto;

        @media (max-width: $sm) {
            max-width: 420px;
        }

        @media (max-width: $xs) {
            max-width: 340px;
        }
    }

    .title {
        font-size: $fs-lg;
        line-height: 48px;

        @media (max-width: $sm) {
            font-size: $fs-md;
            line-height: 32px;
        }

        @media (max-width: $xs) {
            font-size: $fs-sm;
            line-height: 24px;
        }
    }

    .excerpt {
        font-size: $fs-xxs;
        letter-spacing: 3px;
        font-weight: 600;

        @media (max-width: $sm) {
            font-size: $fs-xxxs;
            letter-spacing: 2px;
        }

        @media (max-width: $xs) {
            font-size: $fs-xxxs - 2px;
            letter-spacing: 1px;
        }
    }
}

.card.blogPost {
    .image {
        height: 300px;
        width: 420px;
        object-fit: cover;

        @media (max-width: $sm) {
            height: 220px;
            width: 360px;
        }

        @media (max-width: $xs) {
            height: 180px;
            width: 300px;
        }
    }

    @media (max-width: $md) {
        text-align: center;
        .title {
            width: 100%;
        }
        .excerpt {
            width: 100%;
        }
    }
}
