@import '@styles/global.scss';

.container {
    @include flex-column-center;

    width: 100%;
    margin-bottom: $spacer-xl;

    @media (max-width: $sm) {
        margin-bottom: $spacer-lg;
    }

    @media (max-width: $xs) {
        margin-bottom: $spacer-md;
    }
}

.select {
    width: 100%;
    margin-top: $spacer-xs;
    margin-bottom: $spacer-sm;
    padding: $spacer-xs;
    font-size: $fs-xxs;

    @media (max-width: $sm) {
        margin-bottom: $spacer-xs;
        font-size: $fs-xxxs;
        padding: $spacer-xxs;
    }
}

.textarea {
    resize: none;
    width: 100%;
    height: 140px;
    margin-bottom: $spacer-sm;
    padding: $spacer-sm $spacer-xs;
    font-size: $fs-xxs;

    @media (max-width: $sm) {
        margin-bottom: $spacer-xs;
        font-size: $fs-xxxs;
        padding: $spacer-xs $spacer-xxs;
    }
}
