@import '@styles/global';

.wrap {
    max-width: 180px;
    margin-left: $spacer-sm;

    @media (max-width: $lg) {
        max-width: 140px;
        margin-left: $spacer-xs;
    }

    @media (max-width: $md) {
        max-width: 120px;
    }
}
