@import '@styles/vars.scss';

.videoButton {
    background-color: $white;
}

.video {
    width: 600px;
    height: 250px;

    @media (max-width: $md) {
        width: 500px;
        height: 220px;
    }

    @media (max-width: $sm) {
        width: 400px;
        height: 180px;
    }

    @media (max-width: $xs) {
        width: 280px;
        height: 140px;
    }
}
