@import '@styles/global';

.container {
    @include flex-column-center;

    margin-bottom: $spacer-xxxl;
    width: 100%;
    padding: $spacer-xs;

    @media (max-width: $sm) {
        margin-bottom: $spacer-xxl;
    }

    @media (max-width: $xs) {
        padding: $spacer-xxs;
        margin-bottom: $spacer-xl;
    }
}

.title {
    font-size: $fs-xl;
    margin-bottom: $spacer-lg;
}

.authors {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;

    @media (max-width: $lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    @media (max-width: $xs) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
