@import '@styles/global';

.container {
    @include flex-row-se;

    margin-bottom: $spacer-xxxl;
    background: $light-pink;
    padding: $spacer-xxl $spacer-sm;

    @media (max-width: $md) {
        padding: $spacer-lg $spacer-xs;
        margin-bottom: $spacer-xxl;
    }

    @media (max-width: $xs) {
        padding: $spacer-md $spacer-xxs;
        margin-bottom: $spacer-xl;
    }
}

.content {
    @include flex-column-start;
}

.image {
    max-width: 100%;
    height: auto;
    margin-left: $spacer-xs;
    min-height: 320px;

    @media (max-width: $md) {
        min-height: 280px;
    }
    @media (max-width: $sm) {
        min-height: 220px;
    }
    @media (max-width: $xs) {
        width: auto;
        min-height: 0px;
        max-height: 130px;
    }
}

.caption {
    font-size: $fs-xxs - 2px;
    text-transform: uppercase;
    margin-bottom: $spacer-sm;
    font-weight: 600;
    letter-spacing: 3px;

    @media (max-width: $md) {
        font-size: $fs-xxxs;
        margin-bottom: $spacer-xs;
        margin-bottom: $spacer-xs;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxxs - 4px;
    }
}

.captionBold {
    font-weight: 900;
}

.title {
    font-size: $fs-xxxl;
    font-weight: 700;
    max-width: 800px;
    margin-bottom: $spacer-sm;
    line-height: 64px;

    @media (max-width: $lg) {
        line-height: 48px;
        font-size: $fs-xxl;
    }
    @media (max-width: $md) {
        line-height: 48px;
        font-size: $fs-xl;
        max-width: 500px;
        margin-bottom: $spacer-xs;
    }
    @media (max-width: $sm) {
        line-height: 32px;
        font-size: $fs-lg;
        max-width: 400px;
    }
    @media (max-width: $xs) {
        line-height: 24px;
        font-size: $fs-xs;
        margin-bottom: $spacer-xxs;
    }
}

.publicationInfo {
    font-size: $fs-xxs - 2px;
    margin-bottom: $spacer-xs;
    @media (max-width: $md) {
        font-size: $fs-xxxs;
        margin-bottom: $spacer-xxs;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxxs - 4px;
    }
}

.subtitle {
    font-size: $fs-xxs - 2px;
    max-width: 600px;
    margin-bottom: $spacer-lg;
    line-height: 28px;
    @media (max-width: $md) {
        font-size: $fs-xxxs;
        margin-bottom: $spacer-md;
        line-height: 24px;
    }
    @media (max-width: $sm) {
        margin-bottom: $spacer-sm;
        line-height: 20px;
        max-width: 400px;
    }
    @media (max-width: $xs) {
        font-size: $fs-xxxs - 4px;
        margin-bottom: $spacer-xs;
        line-height: 12px;
    }
}
