@import '@styles/global.scss';

.container {
    padding: $spacer-md $spacer-xl;
    background: $dark-blue-gray;
    flex: 0 0 auto;
    color: $white;

    @media (max-width: $md) {
        padding: $spacer-sm $spacer-lg;
    }

    @media (max-width: $sm) {
        padding: $spacer-xs $spacer-md;
    }
}

.header {
    padding: 0;
}
