@import '@styles/global.scss';

.select {
    padding: $spacer-xxs;
    margin-right: $spacer-xxs;
    border-radius: 8px;
    background: $white;
    font-size: $fs-xxs;

    @media (max-width: $sm) {
        padding: $spacer-xxxs;
        margin-right: $spacer-xxxs;
        font-size: $fs-xxxs;
    }
}
