@import '@styles/global';

.infoTitle {
    @extend %title-36;

    @media (max-width: $sm) {
        font-size: $fs-md;
        line-height: $lh-lg;
    }

    @media (max-width: $xs) {
        font-size: $fs-sm;
        line-height: $lh-sm;
    }
}

.infoText {
    @extend %title-16;
}

.infoList {
    @extend %title-24;
}
