@import '@styles/global';

.infoTitle {
    line-height: 48px;
    font-size: $fs-xl;
    font-weight: 700;
    margin-bottom: $spacer-xs;

    @media (max-width: $md) {
        font-size: $fs-lg;
        line-height: 40px;
    }

    @media (max-width: $sm) {
        font-size: $fs-md;
        line-height: 32px;
    }

    @media (max-width: $xs) {
        font-size: $fs-sm;
        line-height: 24px;
    }
}

.infoText {
    font-size: $fs-xxs;
    line-height: 28px;
    margin-bottom: $spacer-sm;

    @media (max-width: $sm) {
        font-size: $fs-xxxs;
        line-height: 24px;
    }

    @media (max-width: $xs) {
        font-size: $fs-xxxs - 2px;
        line-height: 16px;
    }
}

.infoList {
    font-weight: 700;
    font-size: $fs-sm;
    line-height: 32px;
    margin-bottom: $spacer-xxs;

    @media (max-width: $sm) {
        font-size: $fs-xs;
        line-height: 24px;
    }

    @media (max-width: $xs) {
        font-size: $fs-xxs;
        line-height: 16px;
    }
}
