@import '@styles/global';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    max-width: 1440px;
    width: 100%;
}

.contentWrap {
    @include flex-column-center;
    justify-content: start;

    width: 100%;
    flex: 1 0 auto;
}
